/* This is the custom css for all css changes*/
footer { margin-bottom: -20px; background-color: #333333; color: #ffffff}

body {font-size: 22px; font-family: 'Cagliostro', sans-serif;}

#smalr {padding-bottom: 0px;}

.btn-lg {font-size: 32px;}

.col-md-3 {padding-left: 90px; padding-top: 20px;}

.col-md-4 {padding-bottom: 107px; padding-top: 10px;}

.col-md-9 {padding-left: 50px;}

.col-md-9 i {padding-left: 11px;}

.copyrite {padding-left: 20px;}

.row  {margin: 0px}

.jumbotron {
		text-align: center;
		background-image: url('../images/Natural-Botanicals.png');
		color: white;
		padding-bottom:90px; padding-top: 120px;}
			
.jumbotron h1 {margin-top: 0px; margin-bottom: 60px;}

.jumbotron p {margin-bottom: 55px; font-size: 30px; padding: 0px 37px;}

ul.nav, .jumbotron h1  {font-family: 'Cagliostro', sans-serif; }
 
ul.nav {font-size: 24px; padding: 10px;}

.navbar-brand {    margin: 0px; font-size: 30px; line-height: 1.3; padding: 7px;}

.homepage {text-align: center; padding-bottom: 20px;}

	
.homepage h1, .homepage h2 {text-transform: uppercase;
			 color: #00b32d;}
.homepage p {font-size: 25px;}
.homepage a {color: #00b32d; font-size: 22px;}
.homepage a:hover {color: #00b32d; text-decoration: none; opacity: .6;}
.homepage hr {border-color: #00b32d; width: 45%;}

/* Dis is The stylin for smaller screens*/
@media (max-width: 1199px) 
			{#sma {padding-bottom: 72px;}  
			#smal {padding-bottom: 143px;}  
			.jumbotron {padding-bottom: 60px;} 
			.jumbotron h1 {font-size: 56px; margin-bottom: 50px;} 
			.jumbotron p { font-size: 26px;
			padding: 0px 37px; margin-bottom: 30px;} 
			.btn-lg {font-size: 30px;}
			.icon-facebook-sign {margin-left: 289px;}
			#nap {padding-left: 40px;}}

@media (max-width: 991px) 
			{.jumbotron h1 {font-size: 46px; margin-bottom: 40px;} 
			.jumbotron p { font-size: 24px; margin-bottom: 25px;} 
			.jumbotron btn-lg {font-size: 28px} 
			.col-md-4 {padding-top: 40px;}
			.copyrite {text-align: center;}
			#sma {padding-bottom: 60px;}
			#smal {padding-bottom: 60px;}
			#smalr {padding-bottom: 40px;}
			#nap {text-align: center;}}

			@media (max-width: 767px)
			{body {font-size: 14px;} 
			.col-md-9 {padding-left: 30px;}
			.col-md-9 span {display: block;}
			.col-md-9 i {padding-left:7px;}
			.icon-facebook-sign {margin-left: 17px;}
			.btn-lg {font-size: 19px;}
			.navbar {min-height:60px;}
			.navbar-brand {padding: 0px;}
			.jumbotron {padding-top: 80px; margin-bottom: 15px;}
			.jumbotron h1 {font-size:26px; margin-bottom: 26px;}
			.jumbotron p {font-size: 15px;margin-bottom: 20px;}
			.homepage h1 {margin-top: 10px; font-size: 24px;}
			.homepage h2 {font-size: 23px;}
			.homepage p {font-size: 18px;}
			.homepage a {font-size: 20px;}
			.homepage hr {width: 75%;}
			.col-md-4 {padding-top: 30px;}
			.copyrite {padding: 0px;}
			#nap {padding-left: 15px; padding-top: 12px;}
			#nap h3 {margin-top: 10px; margin-bottom: 0px;}
			#sma {padding-bottom: 40px;}
			#smal {padding-bottom: 40px;}
			#smalr {padding-bottom: 40px;} }